*.iml
.gradle
/local.properties
/.idea/gitignore
/.idea/name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vsc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_28_9_2021_16_02_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_9_2021_16_02_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_9_2021_16_02_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_9_2021_16_02_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_9_2021_16_02_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_9_2021_16_02__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_28_9_2021_16_02_[Default_Changelist]/shelved.patch
